In [8]:
number="ram"
print(number)

ram

In [3]:
_number=6
print(_number)

6

In [7]:
numBEr="dinesh"
print(numBEr)

dinesh

In [5]:
NUMBER=7
print(NUMBER)

7

In [6]:
num_ber="Rajesh"
print(num_ber)

Rajesh

In [9]:
1number="rajesh"

SyntaxError: invalid decimal literal (1248245419.py, line 1)

In [10]:
number@=4
print(number@)

SyntaxError: invalid syntax (1017668655.py, line 2)

In [11]:
num ber="Rajesh"
print(num ber)

SyntaxError: invalid syntax (3899717648.py, line 1)

In [12]:
@number="dinesh"
print(@number)

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (853066721.py, line 1)

In [13]:
num-ber=8
print(num-ber)

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (2907800859.py, line 1)